body {
  background-image: url('intersection.png');
}

.center {
  width: 100vw;
  display: inline-flex;
  justify-content: center;
}

.calc-body {
  height: 520px;
  width: 440px;
  background-color: #bdbdbd;
  border:  8px solid black;
  border-radius: 4px;
}

.display-screen {
  height: 100px;
  width: 420px;
  margin: 10px;
  background-color: white;
  bottom: 0;
  text-align: right;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  border: 1px solid grey;
}

.old-result {
  height: 25px;
  font-size:150%;
  overflow: hidden;
}

.operator {
  height: 25px;
  font-size:150%;
}

.result {
  height: 50px;
  font-size: 250%;
  overflow: hidden;
}

button {
  width: 100px;
  height: 70px;
  border-radius: 40px;
  border: 3px solid black;
  cursor: pointer;
  font-size: 150%;
}

button:active, .button-active {
  transform: translateY(3px);
  color: black;
}

.buttons {
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(5, 70px);
  grid-gap: 10px;
  justify-content: center;
}

.number-button, #plus-minus, #decimal {
  background-color: white;
}

.operator-button, #equal {
  background-color: #26a69a;
}

.clear-button {
  background-color: #d81b60;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bdbdbd;
  display: flex;
  justify-content: flex-end;
  font-family: 'Orbitron', sans-serif;
}

.footer a {
  text-decoration: none;
  color: #d81b60;
  padding: 0 5px;
}

.footer a:hover {
  text-decoration: none;
  color: #26a69a;
  background-color: #e6e6e6;
}
